.main{
  position: sticky;
  top: 0;
  text-align: center;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 1px 3px 10px 0px #95a0a7;
  background: #0cc9e2;

}
.main hr{
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  border: 2px solid black;
}
h2{
  margin-top: 0;
}
.btn-1{
  padding: 10px 40px;
  background-color: orange;
  border: none;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 50px;
}
.btn-2{
  padding: 10px 40px;
  background-color: orange;
  border: none;
  border-radius: 10px;
  margin-bottom: 30px;
}